
a:visited {
  background-color: orange;

}
a:hover, a:active, a:focus {
  color:#c33;
}



.logo {
  width: 120px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 30px 16px 0;
  float: left;
}

.header-menu {
  line-height: 64px;
  display: flex;
  padding-left: 10px;;
}


.sider-menu {
  height: 100%;
  border-right: 0;
}

.inner-layout {
  padding: 0 24px 24px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

nz-sider{
  color: black;
}
